.shadow {
  box-shadow: -10px 0px 10px 1px #aaaaaa;
}

h1 {
  font-family: "myFirstFont";
  font-weight: 800;
}

.mat-mdc-table {
  table-layout: fixed;
  border-collapse: collapse;
}

.table-container {
  position: relative;
  overflow: auto;
}

.mat-mdc-table {
  overflow: auto;
}

#main {
  position: sticky;
  display: table;
  width: 100%;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

/* .mat-mdc-header-cell {
  -webkit-box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3) !important;
} */

.column-shadow {
  /* border-right: 1px solid gray !important; */
  /* -webkit-box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3) !important; */
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

::ng-deep .cdk-overlay-pane {
  pointer-events: none !important;
}
