<!-- <div>
  <div
    id="tableHeaders"
    style="
      overflow-x: hidden;
      position: sticky;
      top: 0;
      background: red;
      color: white;
    "
  >
    <table>
      <thead>
        <tr>
          <th style="white-space: nowrap !important">
            1. A Very Long Header That Never Ends
          </th>
          <th style="white-space: nowrap !important">
            2. A Very Long Header That Never Ends
          </th>
          <th style="white-space: nowrap !important">
            3. A Very Long Header That Never Ends
          </th>
          <th style="white-space: nowrap !important">
            4. A Very Long Header That Never Ends
          </th>
          <th style="white-space: nowrap !important">
            5. A Very Long Header That Never Ends
          </th>
          <th style="white-space: nowrap !important">
            6. A Very Long Header That Never Ends
          </th>
        </tr>
      </thead>
    </table>
  </div>

  <div
    id="tableBody"
    style="overflow-x: scroll"
    onscroll="document.getElementById('tableHeaders').scrollLeft = this.scrollLeft"
  >
    <table>
      <thead style="line-height: 0px; opacity: 0">
        <tr>
          <th style="white-space: nowrap !important">
            1. A Very Long Header That Never
          </th>
          <th style="white-space: nowrap !important">
            2. A Very Long Header That Never Ends
          </th>
          <th style="white-space: nowrap !important">
            3. A Very Long Header That Never Ends
          </th>
          <th style="white-space: nowrap !important">
            4. A Very Long Header That Never Ends
          </th>
          <th style="white-space: nowrap !important">
            5. A Very Long Header That Never Ends
          </th>
          <th style="white-space: nowrap !important">
            6. A Very Long Header That Never Ends
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
            Endsqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
        <tr>
          <td style="white-space: nowrap !important">
            1. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            2. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            3. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            4. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            5. This is some very long content
          </td>
          <td style="white-space: nowrap !important">
            6. This is some very long content
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<div id="tableHeader">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position" sticky>
      <th mat-header-cell *matHeaderCellDef><div>No.</div></th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><div>Name</div></th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef><div>weight</div></th>
      <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef><div>Symbol</div></th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef><div>Address</div></th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef><div>country</div></th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef><div>phone</div></th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div id="tableBody" style="width: 100%; overflow-x: auto">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position" sticky>
      <th mat-header-cell *matHeaderCellDef><div>No.</div></th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><div>Name</div></th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef><div>weight</div></th>
      <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef><div>Symbol</div></th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef><div>Address</div></th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef><div>country</div></th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef><div>phone</div></th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
